{% extends "index.html" %}
{% load static %}


{% block Header %}
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Login</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Login</p>
            </div>
        {% if my_form.errors %}
            <p style="color:#940f29;">Incorrect Data, Check Again</p>
        {% endif %}
        <form action="{% url 'loginAccount' %}" method="POST">{% csrf_token %}
            {% block login_logout %}
                <h6 class="text-white display-4 mb-sm-4">LOGIN SUCCESSFUL!</h6>
            {% endblock %}
            <div class="mx-auto mb-5" style="width: 100%; max-width: 60%;">
                <div class="mx-auto mb-5 d-flex flex-column align-items-center" style="width: 100%; max-width: 60%;">
                    <div class="input-group">
                        <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Username" id="search-input-1" name="username">
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control border-light mb-2" style="padding: 25px 15px;" placeholder="Password" id="search-input-2" name="password">
                    </div>
                    <div class="input-group-append text-center">
                        <button type="submit" class="btn btn-secondary mb-3 px-4 px-lg-5">Login</button>
                    </div>
                    <div class="d-inline-flex text-white mb-5">
                        <p class="m-0 text-uppercase mb-3"></p>
                        <p class="m-0">Not yet Registered?</p>
                        <i class="fa fa-angle-double-right pt-1 px-3"></i>
                        <a class="text-white" href="{% url 'AppEdukateFormStudents' %}">Register here!</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}


{% block Contact %}
{% endblock %}
