{% extends "index.html" %}
{% load static %}


<!-- Header Start -->
{% block Header %}
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Contact</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home ⇉</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Contact</p>
            <div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Header End -->


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}
