{% extends "index.html" %}
{% load static %}


{% block Header %}
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Teacher Registration</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Teacher Registration</p>
        </div>
            {% if my_form.errors %}
                <p style="color:#940f29;">Incorrect Data, Check Again</p>
            {% endif %}
        <form action="{% url 'AppEdukateFormTeachers' %}" method="POST">{% csrf_token %}
            <div class="mx-auto mb-5" style="width: 100%; max-width: 60%;">
                <div class="mx-auto mb-5 d-flex flex-column align-items-center" style="width: 100%; max-width: 60%;">
                    <div class="input-group">
                        <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Name" id="search-input-1" name="first_name">
                        <div class="input-group">
                            <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Last Name" id="search-input-2" name="last_name">
                            <div class="input-group">
                                <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Email" id="search-input-3" name="email">
                                <div class="input-group">
                                    <input type="text" class="form-control border-light mb-2" style="padding: 25px 15px;" placeholder="Enter Profession" id="search-input-4" name="profession">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-append text-center">
                        <button type="submit" class="btn btn-secondary px-4 px-lg-5">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}


{% block Contact %}
{% endblock %}
