{% extends "index.html" %}
{% load static %}


{% block Header %}
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Search Courses</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Search Courses</p>
        </div>
        <form action="{% url 'AppEdukateCourses' %}" method="GET">
            <div class="mx-auto mb-5" style="width: 100%; max-width: 60%;">
                <div class="mx-auto mb-5 d-flex flex-column align-items-center" style="width: 100%; max-width: 60%;">
                    <div class="input-group">
                        <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Course" id="search-input-1" name="name">
                        <div class="input-group">
                            <input type="number" class="form-control border-light mb-2" style="padding: 25px 15px;" placeholder="Enter Commission" id="search-input-2" name="commission">
                        </div>
                    </div>
                    <div class="input-group-append text-center">
                        <button type="submit" class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}


{% block Contact %}
{% endblock %}

