{% extends "index.html" %}
{% load static %}


{% block Header %}
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Search Students</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Search Students</p>
        </div>
        {% if message_error %}
            <p style="color:#940f29;">{{ message_error }}</p>
        {% endif %}
        <form action="" method="GET">
            <div class="mx-auto mb-5" style="width: 100%; max-width: 60%;">
                <div class="mx-auto mb-5 d-flex flex-column align-items-center" style="width: 100%; max-width: 60%;">
                    <div class="input-group">
                        <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Name" id="search-input-1" name="first_name">
                        <div class="input-group">
                            <input type="text" class="form-control border-light mb-1" style="padding: 25px 15px;" placeholder="Enter Last Name" id="search-input-2" name="last_name">
                            <div class="input-group">
                                <input type="text" class="form-control border-light mb-2" style="padding: 25px 15px;" placeholder="Enter Email" id="search-input-3" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="input-group-append text-center">
                        <button type="submit" class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="input-group-append text-center mx-auto mb-5 d-flex flex-column align-items-center">
            <div class="input-group-append text-white">
                {% if students %}
                    <div class="row custom-row">
                        {% if students|length <= 5 %}
                            <div class="col-md-12 text-center">
                                {% for student in students %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                        {% elif students|length <= 10 %}
                            <div class="col-md-4" style="transform: translateX(-33.33%)">
                                {% for student in students|slice:"0:3" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4" style="transform: translateX(0%)">
                                {% for student in students|slice:"3:6" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4" style="transform: translateX(33.33%)">
                                {% for student in students|slice:"6:9" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="col-md-4" style="transform: translateX(-30%)">
                                {% for student in students|slice:"0:5" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4" style="transform: translateX(0%)">
                                {% for student in students|slice:"5:10" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4" style="transform: translateX(30%)">
                                {% for student in students|slice:"10:15" %}
                                    <p>Student: {{ student.first_name }}<br>Last Name: {{ student.last_name }}<br>Email: {{ student.email }}</p><br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}


{% block Contact %}
{% endblock %}
