{% extends 'index.html' %}


{% block Header %}
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Send Message</h1>
            <div class="d-inline-flex text-white mb-4">
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'AppEdukateIndex' %}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Send Message</p>
            </div>
            <div class="text-center mb-3">
                <a href="{% url 'SeeMessage' %}" class="btn btn-secondary py-2 px-2 d-none d-lg-block"
                   style="width: 200px; margin: 0 auto;">Back to Inbox</a>
            </div>
            {% block Content %}
                <h2>Receiving User:</h2>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            <form method="POST">
                {% csrf_token %}
                {% if message %}
                    <input type="text" name="user_username" value="{{ message.user_sender.username }}" readonly>
                {% else %}
                    <input type="text" name="user_username" id="user_username" class="form-control mb-2" required
                           value="{{ original_sender_name }}">
                {% endif %}
                <div class="form-group">
                    <h2><label for="content">Message:</label></h2>
                    <textarea name="content" id="content" class="form-control" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block About %}
{% endblock %}


{% block Feature %}
{% endblock %}


{% block Courses %}
{% endblock %}


{% block Team %}
{% endblock %}


{% block Testimonial %}
{% endblock %}


{% block Contact %}
{% endblock %}
